﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="WebForm.index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>测试</title>
    <script src="js/jquery-1.10.2.js"></script>
   
    <script>
      
     
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>

       
    </div>
    </form>
</body>
</html>
